/* .faq-section{
    position: relative;
    // min-height: 100%;
    display: flex;
    align-items: center;
    padding: 2rem;
    background-color: var(--primary-color);
   flex-direction: column;
    overflow: hidden;
    
    
} */
/* .space-line-footer {
  scale: 130%;
} */
/* .faqs-container {
  display: grid;
  grid-template-columns: 1fr 1fr;

  z-index: 1;

  margin: 0 rem;
  max-width: 80rem;

  padding: 2rem;
  gap: 1em;
} */
/* .faq-section h1 {
  text-align: center;
  padding-top: 2rem;
} */
/* .faq-tab {
  position: relative;
  background-color: var(--light-color);
  font-family: var(--secondary-font);
  padding: 0.8rem;
  border-radius: 0.5em;
  box-shadow: 0 15px 25px rgba(0, 0, 0, 0.059);
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: center;
} */
/* .faq-tab label {
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: space-between;
} */

/* .faq-tab input {
  appearance: none;
} */
/* .faq-tab label h2 {
  font-size: 1rem;
  padding-right: 0.5rem;
} */
/* .faq-tab label::after {
  content: "+";

  right: 0.8rem;
  top: 0.8rem;
  height: 1.5rem;
  width: 1.5rem;

  color: var(--grey-color);
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.8rem;
  border-radius: 1px;
  opacity: 30%;
  transition: transform 0.3s;
} */
/* .faq-tab:hover label::after {
  opacity: 100%;
} */
/* .faq-tab h5 {
  font-weight: 900;
  padding-top: 0.5rem;
  opacity: 70%;
} */

/* .faq-tab input:checked ~ label::after {
  transform: rotate(135deg);
} */

/* .faq-content {
  max-height: 0;
  overflow: hidden;
  transition: 0.3s ease-in-out;
}

.faq-tab input:checked ~ .faq-content {
  max-height: 100vh;
} */

/* .faq-links {
  color: blue;
  font-size: 12px;
  font-weight: bold;
} */

@media (max-width: 1090px) {
  /* .faq-section {
    padding: 0;
  } */

  /* .faq-tab label h2 {
    font-size: 0.6rem;
    padding: 0;
    line-height: 0.8rem;
  } */
  /* .faq-content h5 {
    font-size: 0.5rem;
  } */
  /* .card {
    margin: 0.5rem;
  }
  .card-text {
    flex-direction: row;
    padding: 0.5rem;
  } */
}
