.hero-section {
  position: relative;
  background-color: var(--dark-color);
  color: var(--light-color);
  overflow: hidden;
  min-height: 100%;
}
.space-lines {
  position: absolute;
 
  height: 100%;
  width: 100%;
  opacity: 0.8;
  top: 5rem;
  scale: 130%;
}
.date-divider{
  color: white;
}
.hero-container {
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  z-index: var(--z-tooltip);
}

.hero-title {
  text-align: center;
  line-height: 8rem;
  font-size: 10rem;
}
.opin-text {
  color: var(--primary-color);
}

.hero-subtitle {
  font-family: var(--secondary-font);
  text-align: center;
  color: var(--primary-color);
  font-weight: 500;
  text-transform: uppercase;
  margin-top: 1rem;
  font-size: 1.8rem;
}
.social-links {
  display: flex;
  justify-content: space-between;
  gap: 1rem;

  color: var(--dark-color);
}
.social-links button {
  margin-top: 2.5rem;
  font-family: var(--primary-font);
  color: var(--dark-color);
}
.social-links-bottom {
  z-index: var(--z-fixed);
  position: absolute;
  display: flex;
  gap: 0.5rem;
  bottom: 2rem;
  right: 3rem;
}
.register-btn {
  background-color: var(--primary-color);
  color: white;
}
.discord-btn , .register-btn {
  width: 11rem;
  display: flex;
  align-items: center;
  justify-content: center;  
  gap: 5px;
}


/* elements positioning */
.elements {
  position: absolute;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.stair-el {
  max-width: 15rem;

  right: 9%;
  top: -5.64%;
}

.pillar-el {
  height: 28rem;
  right: 15.15%;
  bottom: -13.16%;
  z-index: 12;
}
.eye-el {
  right: 18%;
  top: 4%;
}
.laptop-el {
  max-height: 50%;
  left: 10%;
  bottom: -10%;
}
.cube-el {
  left: 13.4%;

  top: 14.16%;
}

.cubes-el {
  max-height: 30%;
  left: -4%;
  top: 40%;
}
.down-arrow {
  
  width: 100%;
 
 display: flex;
 align-items: center;
 justify-content: center;
 transform: translateY(3rem);


  animation: float 800ms infinite alternate-reverse ease-in-out;
  z-index: 1;
}

.twitter-icon,
.instagram-icon, .in-icon{
  cursor: pointer;
  z-index: var(--z-tooltip);
  color: var(--light-color);
}
.twitter-icon:hover,
.instagram-icon:hover, .in-icon:hover{
  color: var(--primary-color);
}

.progress-bar{
  
  cursor: pointer;
  position: fixed;
  bottom: 5rem;
  right: 5rem;
  z-index: var(--z-modal);
  background-color: rgb(37, 37, 37);
  width: 4rem;
  height: 4rem;
  display: none;
  place-items: center;
  text-align: center;
  border-radius: 50%;
  transition: display .5s ease-in-out; 
  --percentage-done: 100%
  
}
.progress-status{
  font-size: 1.5rem;
  height: calc(100% - 15px);
  width: calc(100% - 15px);
  background-color: transparent;
  display: grid;
  place-items: center;
  
  border-image-slice: 1;
  background-color: var(--dark-color);
  border-radius: 50%;
  

}
.progress-value{
  content: "";
  position: absolute;
  
  z-index: -1;
  /* background: conic-gradient(var(--primary-color) var(--percentage-done), transparent 0 100%); */
  height: calc(100% - 8px);
  width: calc(100% - 8px);
  border-radius: 50%;
}


@keyframes float {
  0% {
    transform: translateY(3rem);
  }
  100% {
    transform: translateY(2rem);
  }
}

/* Media queries for small screens  */

@media (max-width: 1090px) {
  .hero-section{
    min-height: 80%;
  }
  .elements {
    display: none;
  }
  .space-lines {
    top: 0;
    scale: 120%;
  }
  .hero-title {
    line-height: 3.5rem;
    font-size: 4rem;
  }
  .social-links {
    flex-direction: column;
    gap: 0;
    margin-top: 1rem;
  }
  .social-links button {
    margin-top: 0.8rem;
  }
  .hero-subtitle {
    font-size: 1rem;
    margin-top: 0.6rem;
  }
  .social-links-bottom {
    scale: 100%;
    gap: 1rem;
    right: unset;
    bottom: 5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    z-index: 11;
  }
  .progress-bar{
    position: fixed;
    bottom: 1rem;
    right: 1rem;
  }
}
