.homepage-container{
    
    /* scroll-snap-type: y mandatory; */
    overflow-y: scroll;
    display: block;
    height: 100%;
    width: 100%;
    scroll-behavior: smooth;
    scroll-padding-top: 3rem;
    
}

