header {
  position: fixed;
  /* top: 0;
  left: 0; */
  width: calc(100% - 2rem); 
  box-sizing: border-box; 
  margin: 1rem;
  z-index: 1000;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.5rem 5%;
  font-family: var(--primary-font);
  border-radius: .5rem;
  border: 1px solid white;
  background-color: var(--dark-color);

}
.active {
  background-color: var(--dark-color);
  /* box-shadow: 0 2px 5px 2px var(--dark-color); */
}

.navbar {
  display: flex;
  margin-right: 8rem;
}

ul {
  list-style-type: none;
}

.navbar a {
  color: var(--light-color);
  font-size: 1rem;
  font-weight: 500;
  padding: 1rem 0;
  margin: 0 1rem;
  text-decoration: none;
}
.navbar li a:hover {
  color: var(--primary-color);
}

#menu-icon {
  font-size: 2rem;
  cursor: pointer;
  z-index: 10001;
  display: none;
}

/* @media (max-width: 1280px) {
  header {
    padding: 0.3rem 5%;
  }

  .navbar a {
    padding: 0.1rem 0;
    padding: 0 0.1rem;
  }
} */

@media (max-width: 1090px) {
  #menu-icon {
    display: block;
  }
  .navbar {
    position: absolute;
    margin-right: 0rem;
    top: 100%;
    right: 0%;
    width: 100%;
    height: 40vh;
    background-color: var(--dark-color);
    color: var(--light-color);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    clip-path: circle(0% at 50% 0%);
    transition: clip-path 0.4s ease-in-out;
    gap: .7rem;
  }

  .navbar a {
    display: block;
    margin: 0.5rem 0;
    padding: 0 2rem;
  }

  .navbar.open {
    clip-path: circle(75%);
  }
  .nav-logo {
    width: 70%;
    height: 70%;
  }
}

/* @media (max-width: 767.98px) { 
    .navbar{
        position: absolute;
        margin-right: 0rem;
        top: -1000%;
        right: 0%;
        width: 100%;
        height: 40vh;
        background-color: var(--dark-color);
        color: var(--light-color);
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 2rem 2rem; 
    }
    .nav-logo{
        width: 70%;
        height: 70%;

    }
    .navbar a{
        display: block;
        margin: 0.5rem 0;
        padding: 0 2rem ;
    }
 }


 @media (max-width: 320px) { 
    .navbar{
        position: absolute;
        margin-right: 0rem;
        top: -1000%;
        right: 0%;
        width: 100%;
        height: 40vh;
        background-color: var(--dark-color);
        color: var(--light-color);
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 2rem 2rem; 
    }

  .nav-logo {
    width: 50%;
    height: 50%;
  }

  .navbar a {
    display: block;
    margin: 0.5rem 0;
    padding: 0 2rem;
  }
} */
